<div class="container">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li   [ngClass]="{'active': !showLogin}"   ><a (click)="showLogin=false">Home</a></li>
            <li [ngClass]="{'active': showLogin}"  ><a (click)="showLogin=true" >Login</a></li>
          </ul>
        </div>
      </nav>
    </div>
    
  </div>
</div>


<div class="container" *ngIf="!showLogin">
  <div class="row">
    <app-home-component></app-home-component>
  </div>
</div>
<div class="container" *ngIf="showLogin">
  <div class="row">
    <app-login-component></app-login-component>
  </div>
</div>
